/Aarungen_example/DEM/6602_2_10m_z33.dem
/Aarungen_example/nedborfelt/_ags_data.zip
/Aarungen_example/nedborfelt/files/Aarungen_1x1km2.mat
/Aarungen_example/nedborfelt/files/Aarungen_catchment.txt
/Aarungen_example/DEM/Basisdata_6602-2_Celle_25833_DTM10UTM33_DEM.zip
/Aarungen_example/granada/Grunnvannsborehull/BronnPark_20221130.cpg
/Aarungen_example/granada/Grunnvannsborehull/BronnPark_20221130.dbf
/Aarungen_example/granada/Grunnvannsborehull/BronnPark_20221130.prj
/Aarungen_example/granada/Grunnvannsborehull/BronnPark_20221130.shp
/Aarungen_example/granada/Grunnvannsborehull/BronnPark_20221130.shx
/Aarungen_example/granada/GrunnvannsBorehull_Vedlegg/DOK_Produktspesifikasjon_Grunnvannsborehull_ver1.pdf
/Aarungen_example/ELVIS/Elv/Elv_Elvenett.dbf
/Aarungen_example/ELVIS/Elv/Elv_Elvenett.prj
/Aarungen_example/ELVIS/Elv/Elv_Elvenett.shp
/Aarungen_example/ELVIS/Elv/Elv_Elvenett.shx
/Aarungen_example/granada/Grunnvannsborehull/EnergiBronn_20221130.cpg
/Aarungen_example/granada/Grunnvannsborehull/EnergiBronn_20221130.dbf
/Aarungen_example/granada/Grunnvannsborehull/EnergiBronn_20221130.prj
/Aarungen_example/granada/Grunnvannsborehull/EnergiBronn_20221130.shp
/Aarungen_example/granada/Grunnvannsborehull/EnergiBronn_20221130.shx
/Aarungen_example/granada/FME_131E462D_1669811903938_4472.zip
/Aarungen_example/DQM/FME_131E462D_1669902359337_9360.zip
/Aarungen_example/gridding_documentation.pptx
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannBronn_20221130.cpg
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannBronn_20221130.dbf
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannBronn_20221130.prj
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannBronn_20221130.shp
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannBronn_20221130.shx
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannOppkomme_20221130.cpg
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannOppkomme_20221130.dbf
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannOppkomme_20221130.prj
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannOppkomme_20221130.shp
/Aarungen_example/granada/Grunnvannsborehull/GrunnvannOppkomme_20221130.shx
/Aarungen_example/ELVIS/Innsjo/Innsjo_Innsjo.dbf
/Aarungen_example/ELVIS/Innsjo/Innsjo_Innsjo.prj
/Aarungen_example/ELVIS/Innsjo/Innsjo_Innsjo.shp
/Aarungen_example/ELVIS/Innsjo/Innsjo_Innsjo.shx
/Aarungen_example/granada/Lgrid_10x10.mat
/Aarungen_example/granada/Lgrid_100x100.mat
/Aarungen_example/nedborfelt/load_Aarungen_catchment.m
/Aarungen_example/DEM/load_DEM_Basisdata_and_crop_area_of_interest.m
/Aarungen_example/granada/load_GRANADA_shapes.m
/Aarungen_example/ELVIS/load_river_and_lake.m
/Aarungen_example/DQM/Losmasse/LosmasseFlate_20221201.dbf
/Aarungen_example/DQM/Losmasse/LosmasseFlate_20221201.prj
/Aarungen_example/DQM/Losmasse/LosmasseFlate_20221201.shp
/Aarungen_example/DQM/Losmasse/LosmasseFlate_20221201.shx
/Aarungen_example/DQM/Losmasse/LosmasseGrense_20221201.dbf
/Aarungen_example/DQM/Losmasse/LosmasseGrense_20221201.prj
/Aarungen_example/DQM/Losmasse/LosmasseGrense_20221201.shp
/Aarungen_example/DQM/Losmasse/LosmasseGrense_20221201.shx
/Aarungen_example/nedborfelt/make_catchment_grid.m
/Aarungen_example/nedborfelt/make_catchment_grid_for_excursion_assignment.m
/Aarungen_example/DQM/make_DQM_grid.m
/Aarungen_example/nedborfelt/zipfolder/NedbfeltF_v3.cpg
/Aarungen_example/nedborfelt/zipfolder/NedbfeltF_v3.dbf
/Aarungen_example/nedborfelt/zipfolder/NedbfeltF_v3.prj
/Aarungen_example/nedborfelt/zipfolder/NedbfeltF_v3.sbn
/Aarungen_example/nedborfelt/zipfolder/NedbfeltF_v3.sbx
/Aarungen_example/nedborfelt/zipfolder/NedbfeltF_v3.shp
/Aarungen_example/nedborfelt/zipfolder/NedbfeltF_v3.shp.xml
/Aarungen_example/nedborfelt/zipfolder/NedbfeltF_v3.shx
/Aarungen_example/ELVIS/NVE_60751B14_1669810960822_12656.zip
/Aarungen_example/granada/plan_for_conditional_point_observations.txt
/Aarungen_example/granada/GrunnvannsBorehull_Vedlegg/Presentasjonsregler_grunnvannsborehull.pdf
/Aarungen_example/granada/GrunnvannsBorehull_Vedlegg/Produktark_Grunnvannsborehull_NGU.pdf
/Aarungen_example/granada/Grunnvannsborehull/Sonderboring_20221130.cpg
/Aarungen_example/granada/Grunnvannsborehull/Sonderboring_20221130.dbf
/Aarungen_example/granada/Grunnvannsborehull/Sonderboring_20221130.prj
/Aarungen_example/granada/Grunnvannsborehull/Sonderboring_20221130.shp
/Aarungen_example/granada/Grunnvannsborehull/Sonderboring_20221130.shx
/Aarungen_example/granada/T2_obs_gjsn_i_grid.txt
/Aarungen_example/granada/Tmobs_10x10.dat
/Aarungen_example/granada/Tmobs_100x100.dat
/Aarungen_example/nedborfelt/files/X_utm33_Aarungen.txt
/Aarungen_example/nedborfelt/files/Y_utm33_Aarungen.txt
/Aarungen_example/~$gridding_documentation.pptx
